html, body {
    font-family: $body-font-stack;
    font-size: 100%;
    line-height: 1.25;

    @media screen and (min-width: 500px) {
        font-size: 110%;
    }

    @media screen and (min-width: 700px) {
        font-size: 120%;
    }
}

body {
    padding: 1rem;
    background-color: $base-color;
    color: rgba($white, 0.9);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: $default-bottom-margin;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font-stack;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: $accent-color;
    transition: color 0.75s ease-in-out;

    &:hover {
        color: lighten($accent-color, 10%);
    }
}

.container {
    width: 100%;
    max-width: 500px;
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

.container--project {
    max-width: 800px;
}

.fa-heart-o {
    font-size: 0.75rem;
    position: relative;
    top: -2px;
}

footer {
    font-size: 0.5rem;
}